.md-card {
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.md-card:hover {
    transform: scale(1.02);
}

.grid__col-6 {
    padding: 20px;
}

.md-typeset .tabbed-set {
    margin-top: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    padding: 10px;
}

.md-typeset ul {
    list-style-type: disc;
    padding-left: 20px;
}

.md-typeset ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.class-changes-table th:nth-child(1) {
    width: 250px;
}

.class-changes-table th:nth-child(2) {
    width: 350px;
}

.class-changes-table th:nth-child(3) {
    width: 350px;
}

.class-changes-table img {
    vertical-align: top;
    margin-right: 6px;
    position: relative;
    top: -2px;
    width: 24px;
    height: 24px;
}

.class-changes-table ul {
    padding-left: 0;
    margin-left: 0 !important;
}